


 <div class="container carte">     
             <form>
               <fieldset>
                 <legend>Tu peux nous contacter... <span class='pink'>ou pas !</span></legend>
                  <br>
                  <br>
                 <div class="form-group">
                   <label for="nom">Entrez votre nom</label>
                   <input type="text" class="form-control" id="nom" placeholder="">
                 </div>
                 
                 <div class="form-group">
                   <label for="email">Entrez votre mail</label>
                   <input type="email" class="form-control" id="email" placeholder="">
                 </div>
                 
                 <div class="form-group">
                   <label for="selection">Une liste select</label>
                   <select id="selection" class="form-control">
                     <option value="">Liste de choix...</option>
                     <optgroup label="Groupe d'options 1">
                       <option value="">Problème d'édition des pottins</option>
                       <option value="">Problème de connexion</option>
                       <option value="">Modification de ton nom</option>
                     </optgroup>
                     </select>
                 </div>
                 <div class="form-group">
                   <label for="bio">Description</label>
                   <textarea class="form-control" id="bio" rows="3"></textarea>
                 </div>
               </fieldset>
             </form>
         </div>



