  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark px-3">
        <a class="navbar-brand" href="#">G<span class='red'>o</span>ssip Pr<span class='red'>o</span>ject</a>
       
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href=<%=root_path%>>Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href=<%=team_path%>>Team</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href=<%=contact_path%>>Contact</a>
            </li>
           </ul>
        </div>
      </nav>
  </header>


  <div>
    <p>Bienvenu <%=params[:first_name]%></p>
  </div>